body {
    margin:0px;
    padding:0px;
}
.flexScreen {
    display:flex;
}

.block50 {
    flex-basis: 50%;
}

.imageChanger {
    background-size:cover;
    background-position: center;
    background-image:url("all-fruits.jpg");
}
.boutonFruits {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    font-size:50px;
    background-color: gray;
    color:white;
    height:20vh;
}
.boutonFruits:hover {
    background-color: #3d3b3b;

}
